.navbar__background-color {
    background-color: #FF4E00;
}

.navbar__logo-padding {
    padding-left: 5px;
    color: white !important;
}

nav {
    max-height: 64px;
}

a{
    &:hover {
        cursor: pointer;
    }
}

.navbar__breadcrumbs {
    padding-right: 30px;
}