  <mat-card class="facility-list__card-container">
    <div style="display:flex; flex-direction: column; width:100%">
      <ul class="collection with-header" style="width:100%; height:90%;">
        <li class="collection-header">
          <h3 class="center-align">Facilities<span *ngIf="getFacilityCount() > 0" class="secondary-content chip facility-list__chip">{{getFacilityCount()}}</span></h3> 
        </li>
        <li *ngFor="let f of getFacilities(); let i = index" class="collection-item">
          <div><span class="facility-list__item-name-link"
              (click)="openDialog(f)">{{sharedService.getLetter(i)}}:
              {{truncate(f.FacilityName)}}</span>
            <!-- <a class="title truncate" (click)="openDialog(f.FacilityKey, f.TypeSkey)"> {{sharedService.getLetter(i)}}: {{f.FacilityName}}</a> -->
            <a class="secondary-content"><i class="material-icons facility-list__view-button" matTooltip="View Details"
                matTooltipPosition="below" [routerLink]="['/facility', f.FacilityKey]">exit_to_app</i></a>
            <a *ngIf="!f.Selected" class="secondary-content" (click)="selectFacility(f, i)"><i
                class="material-icons-outlined" matTooltip="Select" matTooltipPosition="below">grade</i></a>
            <a *ngIf="f.Selected" class="secondary-content" (click)="selectFacility(f, i)"><i class="material-icons"
                matTooltip="Select" matTooltipPosition="below">grade</i></a>
          </div>
        </li>
      </ul>
      <a class="waves-effect waves-light btn facility-list__compare-button" [ngClass]="{'disabled': getSelectCount()}"
        (click)="navigateComparison()">Compare</a>
    </div>
  </mat-card>